<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje jedinice mere</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija jedinice mere: {{data.jedinicaMere}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje jedinice mere: {{data.jedinicaMere}}</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
  <div class="form">
    <mat-form-field>
      <input matInput placeholder = "Naziv" [(ngModel)]="data.jedinicaMere" name = "naziv" [disabled]="flag==3" required/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button *ngIf="flag == 1" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="add()">Sačuvaj</button>
    <button mat-button *ngIf="flag == 2"  [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="update()">Sačuvaj</button>
    <button mat-button *ngIf="flag == 3"  [mat-dialog-close]="1" (click)="delete()">Obriši</button>
    <button mat-button (click)="close()">Poništi</button>
  </div>
    </form>
    </div>