<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje artikla</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija artikla: {{data.naziv}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje artikla: {{data.naziv}}</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
  <div class="form">
    <mat-form-field>
      <input matInput placeholder = "Cena bez pdv" [(ngModel)]="data.cenaBezpdv" name = "cenaBezpdv" [disabled]="flag==3" required/>
    </mat-form-field>
  </div>
    <div class="form">
      <mat-form-field>
          <input matInput placeholder = "Cena sa pdv" [(ngModel)]="data.cenaPdv" name = "cenaPdv" [disabled]="flag==3" required/>
        </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder = "EON" [(ngModel)]="data.eonKod" name = "eon" [disabled]="flag==3" required/>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder = "Komerc pakovanje" [(ngModel)]="data.komercijalnoPakovanje" name = "komercpak" [disabled]="flag==3" required/>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder = "Maloprodajna cena" [(ngModel)]="data.maloprodajnaCena" name = "maloprodajnac" [disabled]="flag==3" required/>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder = "Naziv" [(ngModel)]="data.naziv" name = "naziv" [disabled]="flag==3" required/>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder = "Promena" [(ngModel)]="data.promena" name = "promena" [disabled]="flag==3" required/>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder = "Rok" [(ngModel)]="data.rok" name = "rok" [disabled]="flag==3" required/>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder = "Transportni bar kod" [(ngModel)]="data.transportniBarKod" name = "transportnibk" [disabled]="flag==3" required/>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder = "Transportnih pakovanja" [(ngModel)]="data.transportnihPakovanja" name = "transpakovanja" [disabled]="flag==3" required/>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder = "Zapremina" [(ngModel)]="data.zapremina" name = "zapremina" [disabled]="flag==3" required/>
      </mat-form-field>
    </div>
      <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="data.jedMere" placeholder="Jedinica mere" name="jedmere" [compareWith]="compareTo" [disabled]="flag == 3">
            <mat-option *ngFor="let jedMere of jediniceMere " [value]="jedMere">
              {{ jedMere.jedinicaMere }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field>
          <mat-select [(ngModel)]="data.vrstaAmbal" placeholder="Vrsta ambalaze" name="vrstaambal" [compareWith]="compareTo" [disabled]="flag == 3">
            <mat-option *ngFor="let vrstaAmbal of vrsteAmbal " [value]="vrstaAmbal">
              {{ vrstaAmbal.vrstaAmbalaze }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  <!--</div>-->
  <div mat-dialog-actions>
    <button mat-button *ngIf="flag == 1" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="add()">Sačuvaj</button>
    <button mat-button *ngIf="flag == 2"  [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="update()">Sačuvaj</button>
    <button mat-button *ngIf="flag == 3"  [mat-dialog-close]="1" (click)="delete()">Obriši</button>
    <button mat-button (click)="close()">Poništi</button>
  </div>
    </form>
    </div>
