<mat-toolbar color="primary">
    <span class="title-center">Artikl</span>
  </mat-toolbar>
  
  
  <div class="container mat-elevation-z8">
    <mat-form-field>
      <input
        matInput
        placeholder="Pretraga"
        (keyup)="applyFilter($event.target.value)"
      />
    </mat-form-field>
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
  
    <ng-container matColumnDef="idArtikl">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.idArtikl }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="cenaBezpdv">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Cena bez PDV </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.cenaBezpdv }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="cenaPdv">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Cena sa PDV </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.cenaPdv }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="eonKod">
        <mat-header-cell *matHeaderCellDef mat-sort-header> EON kod </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.eonKod }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="komercijalnoPakovanje">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Komercijalno pakovanje </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.komercijalnoPakovanje }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="maloprodajnaCena">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Maloprodajna cena </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.maloprodajnaCena }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="naziv">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Naziv </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.naziv }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="promena">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Promena </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.promena }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="rok">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Rok </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.rok }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="transportniBarKod">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Transportni bar kod </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.transportniBarKod}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="transportnihPakovanja">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Transportnih pakovanja</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.transportnihPakovanja }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="zapremina">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Zapremina </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.zapremina}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="jedMere">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Jedinica mere</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.jedMere.jedinicaMere }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="vrstaAmbal">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Vrsta ambalaze</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.vrstaAmbal.vrstaAmbalaze }}</mat-cell>
      </ng-container>
  
  
  
  
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary">
      <mat-icon (click)="openDialog(1)"> add </mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let row; let i=index">
            <button mat-icon-button color="primary">
              <mat-icon area-label="Edit" (click)="openDialog(2,row.idArtikl,row.cenaBezpdv,row.cenaPdv,row.eonKod,row.komercijalnoPakovanje,row.maloprodajnaCena,row.naziv,row.promena,row.rok,row.transportniBarKod,row.transportnihPakovanja,row.zapremina,row.jedMere,row.vrstaAmbal)"> edit </mat-icon>
                    </button>
      <button>
              <mat-icon area-label="Delete" (click)="openDialog(3,row.idArtikl,row.cenaBezpdv,row.cenaPdv,row.eonKod,row.komercijalnoPakovanje,row.maloprodajnaCena,row.naziv,row.promena,row.rok,row.transportniBarKod,row.transportnihPakovanja,row.zapremina,row.jedMere,row.vrstaAmbal)"> delete </mat-icon>
                  </button>
          </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [length]="100"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
