
  <section class="introduction-section">
      <h1>O meni:</h1>
      <p>Zdravo, moje ime je Dusan Milasinovic </p>
      <p>Student sam treće godine Fakulteta tehničkih nauka, Univerziteta u Novom Sadu, 
          na studijskom programu Inženjerstvo informacionih sistema, a moj broj indeksa je <b>IT 1-2018</b>.</p>

  </section>
  
  
  <footer class="content-footer" >
      <p>Kod ovog projekta možete pronaći na:</p>
      <ul class="social">
          <li><a class="css-is-deranged" href="https://github.com/dusanmila/frontendRva">GitHub</a></li>
  
      </ul>
  
  </footer>