<!--u zavisnosti od flega bice prikazani razliciti naslovi -->

<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje novog nedeljnog izvestaja </h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija postojeceg nedeljnog izvestaja: {{data.idNedeljni}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje nedeljnog izvestaja koji se nalazi na spisku: {{data.idNedeljni}}</h3>
    <form class="mat-dialog-content" #formControl= "ngForm">
        <div class="form">
           <mat-form-field>
               <input matInput placeholder="idNedeljni" [(ngModel)] = "data.idNedeljni" name="idNedeljni" [disabled]= "flag == 3" required>
   
           </mat-form-field>     
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="prodaja" [(ngModel)] = "data.prodaja" name="prodaja" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>
         <div class="form">
            <mat-form-field>
                <input matInput placeholder="objekat" [(ngModel)] = "data.objekat" name="objekat" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>
         <div class="form">
            <mat-form-field>
                <input matInput placeholder="artikl" [(ngModel)] = "data.artikl" name="artikl" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>
         <div class="form">
            <mat-form-field>
                <input matInput placeholder="datum od" [(ngModel)] = "data.datum1" name="datum1" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>
         <div class="form">
            <mat-form-field>
                <input matInput placeholder="datum do" [(ngModel)] = "data.datum2" name="datum2" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>
 
        <div mat-dialog-actions>
            <button mat-button *ngIf="flag==1" type="submit" [mat-dialog-close]="1" (click)="addNedeljni()" [disabled]="!formControl.valid">
              
                Sačuvaj
            </button>
            <button mat-button *ngIf="flag==2" type="submit" [mat-dialog-close]="1" (click)="updateNedeljni()" [disabled]="!formControl.valid">
                Sačuvaj
            </button>
            <button mat-button *ngIf="flag==3" type="submit" [mat-dialog-close]="1" (click)="deleteNedeljni()">
                Obriši
            </button>
            <button mat-button (click)="cancel()">
                Poništi
            </button>
        </div>

    </form>

</div> 