<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanja lagera</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija lagera: {{ data.idLager }}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje lagera: {{ data.idLager }}</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Stanje" [(ngModel)]="data.stanje" name="stanje" [disabled]="flag == 3"
                    required>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Artikl" [(ngModel)]="data.artikl" name="artikl" [disabled]="flag == 3"
                    required>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Objekat" [(ngModel)]="data.objekat" name="objekat" [disabled]="flag == 3"
                    required>
            </mat-form-field>
        </div>
        <div mat-dialog-action>
            <button mat-button *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()"
                [disabled]="!formControl.valid">Sačuvaj</button>
            <button mat-button *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()"
                [disabled]="!formControl.valid">Sačuvaj</button>
            <button mat-button *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
            <button mat-button (click)="cancel()">Poništi</button>
        </div>
    </form>
</div>