<mat-toolbar color="primary">
    <span class="title-center">Istorija nedeljni</span>
  </mat-toolbar>
  
  
  <div class="container mat-elevation-z8">
    <mat-form-field>
      <input
        matInput
        placeholder="Pretraga"
        (keyup)="applyFilter($event.target.value)"
      />
    </mat-form-field>
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
  
    <ng-container matColumnDef="idIstorNed">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.idIstorNed }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="datum1">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Od</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.datum1.datum }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="datum2">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Do</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.datum2.datum }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="objekat">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Objekat</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.objekat.nazivObjekta }}</mat-cell>
      </ng-container>

    <ng-container matColumnDef="artikl">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Artikl</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.artikl.naziv }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="prodaja">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Prodaja</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.prodaja }}</mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
    [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
  </div>
  