<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje novog Nielsen-a </h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija postojeceg Nielsen-a: {{data.idNielsen}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje nedeljnog izvestaja koji se nalazi na spisku: {{data.idNielsen}}</h3>
    <form class="mat-dialog-content" #formControl= "ngForm">
    
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="prodaja" [(ngModel)] = "data.prodaja" name="prodaja" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>

         <div class="form">
            <mat-form-field>
                <mat-select [(ngModel)]="data.objekat" placeholder="Objekat" name="objekat" [compareWith]="compareTo" [disabled]="flag == 3">
                  <mat-option *ngFor="let objekat of objekti" [value]="objekat">
                    {{ objekat.nazivObjekta }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
         </div>

         <div class="form">
            <mat-form-field>
                <mat-select [(ngModel)]="data.artikl" placeholder="Artikl" name="artikl" [compareWith]="compareTo" [disabled]="flag == 3">
                  <mat-option *ngFor="let artikl of artikli" [value]="artikl">
                    {{ artikl.naziv }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
         </div>

         <div class="form">
            <mat-form-field>
                <mat-select [(ngModel)]="data.datum1" placeholder="Datum od" name="datumod" [compareWith]="compareTo" [disabled]="flag == 3">
                  <mat-option *ngFor="let datum of datumi" [value]="datum">
                    {{ datum.datum }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
         </div>

         <div class="form">
          <mat-form-field>
              <mat-select [(ngModel)]="data.datum2" placeholder="Datum do" name="datumdo" [compareWith]="compareTo" [disabled]="flag == 3">
                <mat-option *ngFor="let datum of datumi" [value]="datum">
                  {{ datum.datum }}
                </mat-option>
              </mat-select>
            </mat-form-field>
       </div>
      <!--  <div class="form">
            <mat-form-field>
                <input matInput placeholder="objekat" [(ngModel)] = "data.objekat.nazivObjekta" name="objekat" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>
         <div class="form">
            <mat-form-field>
                <input matInput placeholder="artikl" [(ngModel)] = "data.artikl.naziv" name="artikl" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>
         <div class="form">
            <mat-form-field>
                <input matInput placeholder="datum od" [(ngModel)] = "data.datum1" name="datum1" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>
         <div class="form">
            <mat-form-field>
                <input matInput placeholder="datum do" [(ngModel)] = "data.datum2" name="datum2" [disabled]= "flag == 3" required>
            </mat-form-field>     
         </div>--> 
 
        <div mat-dialog-actions>
            <button mat-button *ngIf="flag==1" type="submit" [mat-dialog-close]="1" (click)="addNielsen()" [disabled]="!formControl.valid">
              
                Sačuvaj
            </button>
            <button mat-button *ngIf="flag==2" type="submit" [mat-dialog-close]="1" (click)="updateNielsen()" [disabled]="!formControl.valid">
                Sačuvaj
            </button>
            <button mat-button *ngIf="flag==3" type="submit" [mat-dialog-close]="1" (click)="deleteNielsen()">
                Obriši
            </button>
            <button mat-button (click)="cancel()">
                Poništi
            </button>
        </div>

    </form>

</div>